#content-creator {
    background-color: rgb(56, 194, 194);
    color: rgb(0, 70, 70);
}

#content-creator {
    padding-top: 100px;
}

#content-creator .icon {
    width: 150px;
}


#content-creator .row div {
    padding-top: 50px;
    text-align: center;
}